{% extends 'back.html.twig' %}

{% block title "Espace personnel" %}

{% block body %}

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"><i class="fas fa-users text-gray-400"></i> <span>Gestions des utilisateurs</span></h1>
        
    </div>

    <hr>



{% endblock %}